<!-- Invoice table code modified from WOD/SmartPhoneProducts3 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart</title>
    <% if(name){ %>
    <div id="usergreeting">Hello, <%= name %>!</div>
    <% } %>
  </head>
  <div class="title">
    <h1>
      <a href="/">Farm<br />Fresh</a>
    </h1>
  </div>
  <body>
    <h2>Shopping Cart</h2>
    <form name="purchase" action="/modify" method="POST">
      <% if(shoppingCartProducts) { %> <% for (let i = 0; i <
      shoppingCartProducts.length; i++) { %> <%
      if(shoppingCartProducts[i].quantity && shoppingCartProducts[i].quantity >
      0){ %>
      <div id="imageContainer">
        <img
          src=" <%= shoppingCartProducts[i].image %>  "
          alt=" <%= shoppingCartProducts[i].name %>  "
        />
        <h3><%= shoppingCartProducts[i].name %></h3>
        <div>
          <li>
            <%='$' + shoppingCartProducts[i].price.toFixed(2) + '/lb' + " x " %>
          </li>
          <li>
            <input
              type="number"
              min="0"
              max="10"
              value="<%= shoppingCartProducts[i].quantity %>"
              name="<%= shoppingCartProducts[i].id %>"
            />
          </li>
          <li>
            <%= " = $" + (shoppingCartProducts[i].price *
            shoppingCartProducts[i].quantity).toFixed(2) %>
          </li>
        </div>
      </div>
      <% } %> <% } %> <% } else { %>
      <div>Please add items to your shopping cart</div>
      <% } %>
      <h3>Total: $<%= total %></h3>
      <h3>Tax: $<%= tax %></h3>
      <h3>Subtotal: $<%= subtotal %></h3>
      <footer>
        <br />
        <br />
        <br />
        <input type="submit" value="Update Quantities" id="addToCart" />
      </footer>
    </form>
  </body>
</html>
